html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.inner-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 175px;
}

.button {
  display: inline-block;
  width: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: #e37376;
  background-color: #d7373b;
}

.green-button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  color: #4dc491;
  background-color: #00aa62;
}

.yellow-button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  color: #edc265;
  background-color: #e5a722;
}

.show-button {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
}

.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
}

.show-button:active {
  color: #959595;
  background-color: #d5d5d5;
}

.main-header {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
  min-height: 355px;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  opacity: 1;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  width: auto;
  list-style: none;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  align-items: center;
}

.user-navigation {
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0px;
  padding-top: 20px;
  margin: 0px;
}

.user-navigation .mini-cart {
  position: relative;
}

.mini-cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: 7px;
  left: 10px;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.page-active {
  color: #000000;
  border-bottom: solid;
  border-bottom-color: #fb565a;
}

.site-navigation li,
.user-navigation li {
  display: inline-block;
  padding-left: 48px;
}

.wrapper {
  width: 698px;
	height: 413px;
	margin: 100px auto 0;
	position: relative;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 { background-image: url("../img/jpeg/slide1.jpg"); }
.slide2 { background-image: url("../img/jpeg/slide2.jpg"); }
.slide3 { background-image: url("../img/jpeg/slide3.jpg"); }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.wrapper > input {
	display: none;
}

.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
	background: #ddd;
}

.wrapper label:after {
	border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.almost-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: medium;
  text-transform: none;
  text-align: center;
  background-color: #eeeeee;
  width: auto;
  align-items: center;
}

.features-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 80px;
}

.feature-item {
  width: 300px;
  margin-right: 100px;
  text-align: left;
}

.feature-item:last-child {
  margin-right: 0;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.feature-item p {
  font-weight: normal;
  text-transform: none;
  color: #283136;
  margin-bottom: 40px;
}

.offers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 122px;
}

.studio {
  width: 660px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.studio h3 {
  font-size: 45px;
  line-height: 45px;
}

.studio p {
  font-weight: normal;
  color: #283136;
}

.studio b {
  text-transform: uppercase;
}

.studio-offers {
  list-style: none;
}

.studio-offers li{
  font-weight: normal;
  color: #283136;
}

.our-features-item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.our-features-item div{
  width: 360px;
  height: 208px;
  background-image: url("../img/png/nerds-illustration.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.our-features-item b {
  margin-top: 41px;
  text-transform: uppercase;
}

.our-features-list {
  width: 360px;
  margin-top: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.our-features-list li {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #283136;
}

.our-features-list span {
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
  color: #000000;
}

.partners {
  padding-top: 126px;
}

.partners-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partner {
  opacity: 0.2;
}

.partner:hover,
.partner:focus {
  opacity: 1;
}

.partner:active {
  opacity: 0.1;
}

.write-us {
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
}

.write-us p {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  color: #707070;
}

.filters {
  width: 260px;
}

.net-filter {
  list-style: none;
}

.features-filter {
  list-style: none;
}

.net-filter label {
  position: relative;
}

.net-filter label::before,
.net-filter label::after {
  position: absolute;
}

.net-filter label::before {
  left: -40px;
  bottom: 0px;
}

.net-filter label::after {
  left: -31px;
  bottom: 10px;
}

.catalog {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  position: relative;
  margin-bottom: 73px;
}

.catalog-item::before,
.catalog-item::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 41px;
  background-image: url("../img/svg/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.1;
  top: -41px;
}

.catalog-order {
  display: none;
  position: absolute;
  bottom: 7px;
  width: 360px;
  padding-top: 26px;
  padding-bottom: 34px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
}

.catalog-item:focus .catalog-order,
.catalog-item:hover .catalog-order {
  display: block;
}

.catalog-order h3 {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.catalog-order p {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: none;
  margin: 0;
  margin-bottom: 35px;
  color: #666666;
}

.bottom-wrapper {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.adress {
  position: relative;
  padding-top: 145px;
}

.adress-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 54px;
  width: 319px;
  height: 308px;
  background-color: #ffffff;
  text-align: left;
}

.adress-block h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.adress-block p {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: none;
  color: #666666;
}

.social-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 65px;
}

.social-network {
  display: inline-flex;
  flex-direction: row;
  margin-right: 139px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:last-child {
  margin-right: 0;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.copyright-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: none;
}

.copyright-footer p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #444444;
}
