html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.inner-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 60px;
}

.button {
  display: inline-block;
  min-height: 50px;
  padding-top: 18px;
  padding-left: 39px;
  padding-right: 39px;
  margin: 0px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: #e37376;
  background-color: #d7373b;
}

.green-button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  color: #4dc491;
  background-color: #00aa62;
}

.yellow-button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  color: #edc265;
  background-color: #e5a722;
}

.show-button {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
}

.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
}

.show-button:active {
  color: #959595;
  background-color: #d5d5d5;
}

.main-header {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 48px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  opacity: 1;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  width: 440px;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  width: auto;
  list-style: none;
  padding: 0;
  padding-top: 24px;
  margin: 0;
  text-align: left;
}

.user-navigation {
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0px;
  padding-top: 24px;
  margin: 0px;
}

.user-navigation .mini-cart {
  position: relative;
}

.mini-cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: 7px;
  left: 10px;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.page-active {
  color: #000000;
  border-bottom: solid;
  border-bottom-color: #fb565a;
}

.site-navigation li,
.user-navigation li {
  display: inline-block;
  padding-left: 45px;
  vertical-align: middle;
}

.site-navigation li:first-child {
  padding-left: 0;
}

.wrapper {
  padding-top: 20px;
  position: relative;
}

.slider {
  width: 1160px;
  min-height: 413px;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 1160px;
  min-height: 413px;
  opacity: 0;
  position: absolute;
  z-index: 0;
}

.slides h3 {
  width: 517px;
  padding-top: 57px;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slides p {
  width: 365px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.slide2 p {
  width: 460px;
}

.slides .button {
  width: 240px;
}

.slide1 {
  background-image: url("../img/png/slide1.png");
  background-repeat: no-repeat;
  background-position: bottom right 30px;
}

.slide2 {
  background-image: url("../img/png/slide2.png");
  background-repeat: no-repeat;
  background-position: bottom right 30px;
}

.slide3 {
  background-image: url("../img/png/slide3.png");
  background-repeat: no-repeat;
  background-position: bottom right 30px;
}


#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

.wrapper>input {
  display: none;
}

.wrapper .controls {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 320px;
  z-index: 1;
}

.wrapper label {
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  border-radius: 50%;
}

.wrapper label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3) {
  background-color: #ffffff;
}

.wrapper label:after {
  border: 2px solid #ddd;
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 50%;
}

.almost-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: none;
  text-align: center;
  background-color: #eeeeee;
  align-items: center;
  margin: 0;
  padding-top: 79px;
  padding-bottom: 108px;
}

.features {
  padding-top: 80px;
  padding-bottom: 60px;
  border-bottom: 2px solid;
  border-color: #eeeeee;
}

.features-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.feature-item {
  width: 300px;
  margin-right: 100px;
  text-align: left;
}

.feature-item:last-child {
  margin-right: 0;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 16px;
}

.feature-item p {
  width: 245px;
  font-weight: 400;
  text-transform: none;
  color: #283136;
  margin-bottom: 30px;
}

.offers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 60px;
}

.studio {
  width: 660px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.studio h2 {
  margin-bottom: 33px;
  font-size: 45px;
  line-height: 45px;
}

.studio p {
  margin-bottom: 35px;
  font-weight: 400;
  color: #283136;
}

.studio h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.studio-offers {
  list-style: none;
}

.studio-offers li {
  position: relative;
  margin-bottom: 25px;
  font-weight: 400;
  color: #283136;
}

.studio-offers li::before {
  content: " ";
  position: absolute;
  top: 11px;
  left: -40px;
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.our-features-item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.our-features-item table {
  text-align: left;
  border-spacing: 35px;
  padding-left: 0;
}

.our-features-item caption {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700px;
  text-transform: uppercase;
  margin-top: 38px;
  margin-bottom: 20px;
}

.top-slot {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  margin-bottom: 20px;
}

.bottom-slot {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

}

.partners {
  padding-top: 36px;
  padding-bottom: 24px;
  margin-top: 37px;
  margin-bottom: 80px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #eeeeee;
}

.partners-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.partner {
  position: relative;
}

.partner+.partner::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: -57px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  transform: translateY(-50%);
}

.partner a {
  display: inline-block;
  margin-right: 40px;
}

.partner a {
  position: relative;
  opacity: 0.2;
}

.partner a:hover,
.partner a:focus {
  opacity: 1;
}

.partner a:active {
  opacity: 0.1;
}

.sort-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-transform: uppercase;
  text-align: left;
  padding-top: 60px;
}

.price {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-right: 285px;
}

.sort {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-right: 265px;
}

.sort-type {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.3;
}

.sort-type:hover,
.sort-type:focus {
  opacity: 0.6;
}

.sort-type:active {
  opacity: 1;
}

.button-up {
  margin-left: 10px;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 140px;
}

.filters h3 {
  text-transform: uppercase;
}

.slider-variator {
  margin-bottom: 50px;
}

.variator {
  width: 260px;
  min-height: 80px;
  margin-bottom: 22px;
  position: relative;
  border-radius: 4px;
  background-color: #eeeeee;
}

.variator input {
  position: absolute;
  bottom: 35px;
  left: 20px;
}

.variator input[type=range] {
  -webkit-appearance: none;
  width: 219px;
}

.variator input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 2px;
  background: #00ca74;
}

.variator input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.variator input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00ca74;
}

.variator input[type=range]::-moz-range-track {
  height: 2px;
  cursor: pointer;
  background: #00ca74;
}

.variator input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  height: 2px;
  cursor: pointer;
}

.variator input[type=range]::-ms-fill-lower {
  background: #00ca74;
}

.variator input[type=range]::-ms-fill-upper {
  background: #00ca74;
}

.variator input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.variator input[type=range]:focus::-ms-fill-lower {
  background: #00ca74;
}

.variator input[type=range]:focus::-ms-fill-upper {
  background: #00ca74;
}

.variations {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
}

.variations span {
  margin-right: 7px;
}

.variations span:nth-child(2) {
  width: 80px;
  min-height: 38px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 4px;
  background-color: #eeeeee;
  margin-right: 34px;
}

.variations span:nth-child(4) {
  width: 80px;
  min-height: 38px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 4px;
  background-color: #eeeeee;
  margin-right: 0;
}

.net {
  margin-bottom: 10px;
}

.net-filter {
  list-style: none;
  padding: 0;
}

.features-filter {
  list-style: none;
  padding: 0;
}

.radio {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  margin-left: 12px;
}

.radio input[type="radio"] {
  opacity: 0;
}

.radio label {
  position: relative;
}

.radio label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -29px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 4px solid;
  border-radius: 50%;
  color: #4d4d4d;
  opacity: 0.4;
}

.radio label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -21px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #4d4d4d;
  opacity: 0.4;
}

.radio input[type="radio"]+label::after {
  content: none;
}

.radio input[type="radio"]:checked+label::after {
  content: "";
}

.radio input[type="radio"]:hover+label::before,
.radio input[type="radio"]:focus+label::before {
  opacity: 1;
}

.radio input[type="radio"]:hover+label::after,
.radio input[type="radio"]:focus+label::after {
  opacity: 1;
}

.radio input[type="radio"]:active+label::before {
  opacity: 0.1;
}

.radio input[type="radio"]:active+label::after {
  opacity: 0.1;
}

.checkbox {
  margin: 0;
  margin-bottom: 15px;
  margin-left: 12px;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  position: relative;
}

.checkbox label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -29px;
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 2px solid;
  border-radius: 2px;
  color: #4d4d4d;
  opacity: 0.4;
}

.checkbox label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -29px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox input[type="checkbox"]+label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked+label::after {
  content: "";
}

.checkbox input[type="checkbox"]:hover+label::before,
.checkbox input[type="checkbox"]:focus+label::before {
  opacity: 1;
}

.checkbox input[type="checkbox"]:hover+label::after,
.checkbox input[type="checkbox"]:focus+label::after {
  opacity: 1;
}

.checkbox input[type="checkbox"]:active+label::before {
  opacity: 0.1;
}

.checkbox input[type="checkbox"]:active+label::after {
  opacity: 0.1;
}

.catalog {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  position: relative;
  margin-bottom: 73px;
}

.catalog-item::before {
  content: " ";
  position: absolute;
  width: 360px;
  height: 41px;
  background-image: url("../img/svg/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.1;
  top: -40px;
}

.catalog-order {
  display: none;
  position: absolute;
  bottom: 7px;
  width: 360px;
  padding-top: 26px;
  padding-bottom: 34px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
}

.catalog-item:focus .catalog-order,
.catalog-item:hover .catalog-order {
  display: block;
}

.catalog-item:focus .catalog-item::before,
.catalog-item:hover .catalog-item::before {
  opacity: 1;
}

.catalog-order h3 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.catalog-order p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  margin-bottom: 35px;
  color: #666666;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.pagination .button {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 11px;
  color: #000000;
  background-color: #eeeeee;
}

.switcher:nth-child(4) {
  width: 260px;
  margin-right: 0;
}

.switcher:hover,
.switcher:focus {
  background-color: #dfdfdf;
}

.switcher:active {
  color: #959595;
  background-color: #d5d5d5;
}

.switcher:nth-child(1) {
  padding-top: 16px;
  padding-left: 17px;
  padding-right: 17px;
  border: 3px solid;
  border-color: #dbdbdb;
  background-color: #ffffff;
}

.bottom-wrapper {
  width: 1200px;
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.adress {
  position: relative;
  background-image: url(../img/jpeg/img-map.jpg);
}

.contacts-map {
  border: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.adress-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  bottom: 54px;
  width: 319px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 42px;
  padding-bottom: 51px;
  background-color: #ffffff;
  text-align: left;
}

.adress-block h3 {
  margin: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.adress-block p {
  margin: 0;
  margin-bottom: 22px;
  width: 219px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  color: #666666;
}

.adress-block p:nth-child(3) {
  margin: 0;
}

.adress-block .button {
  margin-top: 38px;
  padding-left: 44px;
  padding-right: 44px;
}

.social-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 60px;
}

.social-network {
  display: inline-flex;
  flex-direction: row;
  margin-right: 139px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:last-child {
  margin-right: 0;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.copyright-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
}

.copyright-footer p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 960px;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid;
  background-color: #ffffff;
  z-index: 2;
}

.write-us-form h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-top: 0;
}

.write-us-form .button {
  width: 260px;
  padding-top: 10px;
  border: 0;
}

.write-us-item h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.write-us-item input {
  width: 360px;
  min-height: 50px;
}

.write-us-item:nth-child(3) input {
  width: 760px;
  min-height: 118px;
}

.info-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  width: 960px;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
}

.info-input div:nth-child(1) {
  margin-right: 40px;
}

.modal {
  display: none;
  position: fixed;
  bottom: 140px;
  left: 25%;
  z-index: 2;
}

.modal-show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 100px;

  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: " ";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #fb565a;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}
